<div id="login-box">
    <div class="left">
        <h1>Sign Up</h1>

        <%= render 'form', user: @user %>
    </div>

    <div class="right">
    <span class="loginwith">Sign in with<br /><br />social network</span>
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
    </div>

<%= link_to 'Back', users_path %>
