<h1 class='title'>Contact Us</h1>
<div style='color:white;text-align:center' >IndiGo<br />
Central Wing, Ground Floor, Thapar House, 124,<br />
Janpath, New Delhi – 110001 India.<br />
F +91 11-43513200<br />
email: corporate@goindigo.in,<br />
CIN : L62100DL2004PLC129768<br />
For comments, concerning Civil Aviation Requirement, Section -3,<br />
Air Transport, Series M, Part IV write to Nodal Officer, Minizes Thomas at<br />
NodalOfficer@goindigo.in.<br />
Appellate authority, Priyaah Sundaraam at AppellateAuthority@goindigo.in.<br />
</div>