<% if play_in? %>
<% quiz_end %>
<h1 class='title' > Quiz ended</h1>
<h1 style='text-align:center;color:#689384'>Your final score is <%= @quiz.score %> </h1>
<div class='link_box' ><%= link_to 'Start new Quiz', start_quiz_path, class:'links' %></div>
<% else %>
<h1 class='title' >Access Denied</h1>
<div class='link_box' ><%= link_to 'Start new Quiz', start_quiz_path, class:'links' %></div>
<% end %>  
