<h1 class='title' >History</h1>
<div class='link_box'><%= link_to 'Attempted Quizzes', attempt_path, class:'links' %></div>

<div class='link_box'><%= link_to 'Non Attempted Quizzes', no_attempt_path , class:'links' %></div>

<div class='link_box'><%= link_to 'Paused Quiz', pause_path, class:'links' %></div>
