<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
background-color: #ff3333;
color: white;
}
tr:nth-child(odd){
    color:white;
}

th {
    background-color: #689384;
    color: white;
}
</style>
<% if logged_in? %>
<h1 class='title'>Leaderboard</h1>
<table>
    <% i=1 %>     
    <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Score</th>
    </tr>                    
    <% @score.each do |key, value| %>       
    <tr>
        <td><%= i %></td>  
        <td><%= key %></td>  
        <td><%= value %></td>  
    </tr>
    <% i+=1 %>
    <% end %>
</table>
<% else %>
<h1>Access Denied</h1>
<% end %>  