<% if logged_in? %>
<% session[:current1] = 0 %>
<h1 class='title'>Select Subgenre</h1>
    <% @subgenres.each do |subgenre| %>       
        <div class='link_box'><%= link_to subgenre.name, quiz_questions_path(:subgenreId => subgenre.id, :i => 0), data: { confirm: 'Start the quiz' }, class:'links' %></div>  

    <% end %>
<% else %>
<h1 class='title' >Access Denied</h1>
<% end %>      