<% if logged_in? %>
<% if(@right == 1) %>
    <% @quiz.score += 10 %>
    <% @quiz.save %>
    <h1 class='title' >Correct answer</h1>
    <h1 style='text-align:center;color:#689384' >Your score <%= @quiz.score %> </h1>
<% else %>
    <h1 class='title' >Wrong answer</h1>
    <h1 style='text-align:center;color:#689384' >Your score <%= @quiz.score %> </h1>
<% end %>
<div class='link_box' ><%= link_to 'continue', quiz_questions_path(:subgenreId => @subgenreId, :i => @i), class: 'links' %>  
<% else %>
<h1 class ='title' >Access Denied</h1>
<h2>Please login first</h2>
<% end %>

