<% if logged_in? %>
    <h1 class='title'>Select Genre</h1>
            <% @genres.each do |genre| %>       
                <div class='link_box' ><%= link_to genre.name, select_subgenre_path(:genreId => genre.id), class: 'links' %></div>  
            <% end %>
<% else %>
    <h1 class='title'>Access Denied</h1>
<% end %>                   